/* Form Inputs*/
.shipping-address-page input {
  height: 50px;
  margin-bottom: 1rem;
  padding-left: 10px;
  width: 100%;
  background-color: #fff;
  border-color: #e5e5e5;
  border-radius: 0.25rem;
  color: #363636;
}
