#check-list.grid-check-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 1rem;
  margin-bottom: 2rem;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  input {
    width: 20px;
    height: 20px;
    border: 1px solid #e5e7eb;
    background-color: white;
    padding: 0;
    border-radius: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin: 0;
  }
}
