.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .circular-progress {
    color: var(--primary);
    // border-radius: 50%;
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    //   rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}
