#experiences.dual-container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #ffffff;

  .col-left {
    min-height: calc(100vh - 80px);
    width: 45%;
    padding: 2rem;

    .header {
      margin-bottom: 2rem;
      p {
        color: #4b5567;
      }
    }

    .body {
      width: 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2.5rem;
    }

    /* Button load more */
    .button-load-container {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .button-load-container {
      display: flex;
      justify-content: center;
    }
  }

  //  Right Column
  .col-right {
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 80px);
    margin-top: 160px;
    width: 55%;
  }
}
